.card-list {
  width: 85vw;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
}

@media only screen and (max-width: 500px) {
  .card-list {
    margin: 5rem auto;
  }
}
